#grid {
    text-align: center;
    margin-top: 200px; 
}

.GridButton {
    background-color: rgb(3, 75, 71);
    color: white;
    border: none;
    font-size: 20px;
    padding: 70px;
    margin-bottom: 4px;
}

.GridButton:hover {
    background-color: rgb(10, 125, 120);
    transition-duration: 0.2s;
}

h1 {
    text-align: center;
}

body {
    background-color: rgb(3, 95, 71);
}

.RetryButton {
    background-color: rgb(13, 157, 18);
    color: white;
    font-size: 20px;
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-style: solid;
    border-color: rgb(17, 198, 23);
}

.RetryButton:hover {
    background-color: rgb(17, 198, 23);
    transition-duration: 0.2s;
}